/* =========== ABOUT ===========*/
.about-list {
  display: flex;
}

.about-list-item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.about-left-side {
  margin-right: 32px;
}

.about-right-side {
  padding-left: 32px;
}

.about-text {
  width: 480px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 40px;
}
/* =========== END ABOUT ===========*/
