/* =========== HEADER ===========*/
.header {
  padding: 40px 0;
  background-color: #303030;
}

@media screen and (max-width: 767px) {
  .navigation-list {
    display: none;
  }

  .tel-link {
    display: none;
  }

  .logo-img {
    fill: #ffffff;
  }

  .mobile-open-btn {
    padding: 0;
    border: none;
    background-color: transparent;
  }

  .mobile-open-icon {
    width: 40px;
    height: 40px;
    fill: #ffffff;
  }

  .mobile-menu {
    position: fixed;
    width: 100vw;
    max-width: 480px;
    height: 100vh;
    top: 0;
    left: 50%;
    background-color: bisque;
    padding: 48px 40px;
    transition: all 250ms linear;

    transform: translateX(-50%) translateY(-100%);
    // opacity: 0;
    // visibility: hidden;
    // pointer-events: none;
  }

  .is-open {
    transform: translateX(-50%) translateY(0%);
    // opacity: 1;
    // visibility: visible;
    // pointer-events: auto;
  }

  .mobile-menu-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  .mobile-menu-close-icon {
    width: 40px;
    height: 40px;
  }

  .mobile-menu-list {
    display: flex;
  }

  .mobile-menu-list-item:not(:last-child) {
    border-right: 1px solid #cccccc;
  }

  .mobile-menu-list-link {
    font-size: 12px;
    display: inline-block;
    padding: 0 10px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-open-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .header {
    padding: 32px 0;
  }
}
// .header {
//   position: absolute;
//   width: 100%;
//   padding-top: 32px;
//   padding-bottom: 32px;
// }

// .navigation {
//   display: flex;
//   align-items: center;
// }

// .navigation-list {
//   display: flex;
//   align-items: center;
// }

// .logo {
//   margin-right: 70px;
//   animation-duration: 2000ms;
// }

// .navigation-list-item {
//   &:not(:last-child) {
//     margin-right: 40px;
//   }
// }

// .navigation-list-link {
//   font-size: 12px;
//   line-height: 1.33;
//   letter-spacing: 0.1em;
//   color: #ffffff;
//   transition: color 250ms linear;

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

// .tel-link {
//   font-size: 12px;
//   line-height: 1.33;
//   letter-spacing: 0.1em;
//   color: #ffffff;
//   margin-left: auto;
//   margin-right: 40px;
// }
/* =========== END HEADER ===========*/
