/* =========== HEADER ===========*/
.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 70px;
  animation-duration: 2000ms;
  /* animation-iteration-count: 2s  ; */
}

.navigation-list-item {
  &:not(:last-child) {
    margin-right: 40px;
  }
}

.navigation-list-link {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
  transition: color 250ms linear;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.tel-link {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
  margin-left: auto;
  margin-right: 40px;
}
/* =========== END HEADER ===========*/
