.title {
  font-family: var(--secondary-font);
  @include font(42px, 700, 49px);
  letter-spacing: 0.05em;

  .about & {
    margin-bottom: 20px;
  }

  .advantages & {
    margin-bottom: 20px;
  }

  .masters & {
    margin-bottom: 44px;
  }

  .services & {
    margin-bottom: 44px;
  }
}

.title-dark-theme {
  color: #ffffff;
}

.title-light-theme {
  color: #303030;
}
